{% extends 'base.html.twig' %}
    {% block body %}
        <h1>Hello world!</h1>
        <h1 class="text-center">Test Results</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>File system IO speed</th>
                <th>Network speed</th>
                <th>PHP execution speed</th>
            </tr>
            </thead>
            <tbody>
            {% for result in testResults %}
                <tr>
                    <td>{{ result.timeIO }}</td>
                    <td>{{ result.timeNetwork }}</td>
                    <td>{{ result.timePHP }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}